@font-face {
    font-family: "Lucida Sans Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Italic"), url("assets/LSANSI.woff") format("woff");
}
@font-face {
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: normal;
    src: local("SegoeUI"), url("assets/SegoeUI.woff") format("woff");
}
@font-face {
    font-family: "SegoeUI-Light";
    font-style: normal;
    font-weight: normal;
    src: local("SegoeUI-Light"), url("assets/SegoeUI-Light.woff") format("woff");
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    src: local("PT Sans"), url("assets/PTS55F.ttf") format("truetype");
}
@font-face {
    font-family: "Segoe WP Light";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe WP Light"), url("assets/Segoe WP Light.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans"), url("assets/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Asap";
    font-style: normal;
    font-weight: normal;
    src: local("Asap-Regular"), url("assets/Asap-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Segoe WP N";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe WP N"), url("SegoeWPN.woff") format("woff");
}
@font-face {
    font-family: "SegoeWP";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe WP"), url("assets/SegoeWP.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
}
html {
    margin: 0 auto;
    width: 1300px;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 10.8%;
    padding-right: 10.8%;
}
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}
header .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    margin-top: 23px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.navlogo {
    display: none;
}
h1 {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 41.05px;
    font-weight: 100;
    font-family: "Lucida Sans Italic", "Arial", sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 2px #1a1a1a;
}
nav {
    margin-top: 71px;
    flex-wrap: nowrap;
    background-color: #f5c506;
	box-shadow: -4px -5px rgba(185, 148, 3, 50%);
}
.icon {
    display: inline-block;
}
.shadow {
    display: inline-flex;
    box-shadow: -8px -8px rgba(185, 148, 3, 25%);
}
.navgroup:not(:last-child) {
    border-right: 1px solid #b99403;
}
.navgroup a {
    display: inline-flex;
    padding: 11px 18px 9px 18px;
}
.navgroup a:hover {
    padding: 11px 18px 6px 18px;
    border-bottom: 3px solid #fff;
}
.navgroup a:active {
    border-bottom: 3px solid #000;
}
.nav-text {
    display: inline-block;
    margin-left: 6px; 
    font-family: "SegoeWP", "Arial", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #b99403;
}
.shadow:first-child {
    padding-left: 25px;
}
.shadow:last-child {
    padding-right: 8px;
}
.main-image {
    height: 566px;
    background-image: url("assets/upper-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mid-image {
    position: relative;
    z-index: 2;
    height: 212px;
    background-image: url("assets/mid-background.png");
    background-size: 100% 100%;
    box-shadow: 0px 0px 5px 1px #1a1a1a;
}
.main-vid {
    margin-top: 57px;
    width: 549px;
    height: 327px;
    opacity: 0.75;
}
.buttons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slogan {
    margin-top: 22px;
    width: 392px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.slogan-text {
    font-family: "Asap", "Arial", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 62px;
}
.white {
    width: 392px;
    color: #fff;
}
.yellow {
    color: #f5c506;
}
.button-right, .button-left {
    cursor: pointer;
    margin-top: 45px;
    width: 32px;
    height: 57px;
    background-color: #f5c506;
}
.button-right:hover, .button-left:hover {
    background: #9b7f0f;
}
.button-right:active, .button-left:active {
    background: #ffe16a;
}
.button {
    margin-top: 19px;
}
.but-left {
    margin-left: 8px;
}
.but-right {
    margin-left: 11px;
}
.middle {
    display: inline-flex;
    width: 100%;
}
.mid {
    height: 100%;
    width: 340px;
    padding: 37px 37px 31px 37px;
    text-align: center;
    border-right: 1px solid #cfcfcf;
}
.mid:first-child {
    border-left: 1px solid #cfcfcf;
}
.mid-text {
    font-family: "SegoeUI-Light", "Arial", sans-serif;
    font-size: 27px;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
}
.mtf {
    margin-top: 5.5px;
    margin-left: 20px;
}
.mts {
    margin-left: 24px;
    margin-top: 9px;
}
.mtt {
    margin-top: 5.5px;
    margin-right: 16px;
}
.mi-f {
    margin-top: 23px;
    margin-right: 7px;
}
.mi-s {
    margin-left: 21px;
}
.mi-t {
    margin-top: 15px;
    margin-right: 20px;
}
.under-mid {
    position: relative;
    z-index: 1;
    height: 508px;
    background-image: url("assets/under-mid.png");
    background-size: 100% 100%;
}
.break-mob {
    display: none;
}
.under-mid .container {
    display: flex;
    flex-wrap: wrap;
}
.under-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.under-par {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 30px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 37px;
    color: #fff;
    letter-spacing: 0.3px;
}
.underbox {
    display: flex;
    max-height: 250px;
}
.un-block, .twitbox {
    background-color: #ec9e03;
}
.un-block {
    width: 273px;
    padding: 16px 37px 0px 30px;
}
.under-text {
    font-family: "Segoe WP Light", "Arial", sans-serif;
    color: #fff;
    font-size: 27px;
    letter-spacing: 1px;
    line-height: 38px;
}
.un-block .plus {
    margin-left: 285px;
}
.twitbox {
    margin-left: 35px;
    width: 329px;
}
.twitter {
    margin-left: 81px;
    margin-top: 18px;
}
.twitbox .plus {
    left: 59px;
    top: 28px;
}
.plus {
    position: relative;
    display: inline-block;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.plus:hover {
    transform: rotate(45deg);
}
.twittext {
    margin-top: 10px;
    margin-left: 282px;
    font-family: "SegoeWP", "Arial", sans-serif; 
    color: #fff;
    font-size: 25.05px; 
}
.date {
    width: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
    padding-right: 27px;
    text-align: center;
    background-color: #ddb101;
}
.day {
    display: inline-block;
    margin-bottom: -5px;
    font-family: "SegoeUI", "Arial", sans-serif;
    font-size: 51px;
    line-height: 60px;
    font-weight: bold;
    color: #fff;
}
.month {
    display: inline-block;
    padding-bottom: 3px;
    font-family: "SegoeUI", "Arial", sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    color: #b26529;
}
#scrollbar {
    display: block;
    width: 896px;
    margin-top: 35px;
    margin-left: 75px;
}
input[type="range"] {
    margin: 33px 51px 0px 73px;
    width: 897px;
    border-radius: 20px;
    cursor: pointer;
}
.above-footer {
    height: 496px;
    background-image: url("assets/above-footer.png");
    background-size: 100% 100%;
}
.above-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phone-logo, .pad-logo, .desktop-logo {
    align-self: center;
}
.phone-logo {
    margin-top: 108px;
}
.paragraph {
    margin-bottom: 47px;
    width: 100%;
    text-align: center;
}
.paragraph div {
    margin-top: 32px;
    text-transform: uppercase;
    color: #f5c506;
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size: 43px;
    word-spacing: 1px;
}
.images {
    margin-left: 17px;
    width: 540px;
    display: flex;
    justify-content: space-between;
}
.list {
    font-size: 22px;
    color: #a9a9a7;
    font-family: 'Open Sans', "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
}
ul {
    width: 380px;
    margin-top: 47px;
}
li {
    margin-left: 31px;
    line-height: 22px;
    font-size: 40px;
    color: #f5c506;
}
li:not(:last-child) {
    margin-bottom: 22px;
}
.circle {
    position: absolute;
    top: 1380px;
    left: 440px;
    height: 116px;
    width: 116px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5c506;
}
.circle div {
    margin-top: 49px;
    color: #fff;
    font-weight: bold;
    font-family: 'PT Sans', "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    word-spacing: 3px;
}
footer {
    background-color: #4c4c4c;
    box-shadow: 0px -2px 6px #1a1a1a;
}
footer .container {
    display: flex;
    align-items: center;
}
.bot-logo-image {
    height: 54px;
    width: 54px;
    margin-top: 6px;
    margin-bottom: 4px;
}
.bot-logo-text {
    margin-top: 5px;
    margin-left: 5px;   
    font-family: "Lucida Sans Italic", "Arial", sans-serif;
    font-weight: 100;
    font-size: 29px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 2px #1a1a1a;
}
.tweets, 
form, 
.main-vid-mobile {
    display: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 13px;
    width: 195px;
    border-radius: 7px;
    background: #ec9e03;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.25);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #ec9e03;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.25);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.25);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #ec9e03;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.25);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.25);
}
@supports (-ms-ime-align:auto) {
    input[type=range] {
        margin: 0 0;
    }
    #scrollbar {
        margin-top: -7px;
    }
    .mid {
        padding-top: 42px;
    }
}
@-moz-document url-prefix() {
    .mid {
        padding-top: 41px;
    }
}
@media (max-width: 640px) {
    html, header {
        width: 640px;
        margin: 0 0;
    }
    header {
        height: 62px;
    }
    .un-par, 
    .main-vid, 
    .buttons, 
    ul, 
    .slogan, 
    .date, 
    #scrollbar, 
    .header-logo, 
    .plus-none > img, 
    .plus-none, 
    .twittext, 
    .button-left,
    .button-right {
        display: none;
    }
    .desktop-logo, 
    .pad-logo,
    h1 {
        margin: 0;
    }
    .container {
        padding: 0;
    }
    .navgroup:first-child {
        border: none;
    }
    .navlogo {
        display: flex;
        width: 186px;
        background-color: #4c4c4c;
    }
    .shadow:first-child {
        padding-left: 0;
    }
    .shadow:last-child {
        padding-right: 0;
    }
    .shadow, 
    nav {
        width: 100%;
        box-shadow: 0;
    }
    nav {
        margin: 0;
        display: flex;
        width: 100%;
        height: 62px;
        background-color: #eec006;
    }
    .navgroup a {
        padding: 19px 9px 6px 11px;
    }
    .navgroup a:hover {
        padding: 19px 9px 14px 11px;
        border-bottom: 3px solid #fff;
    }
    .navgroup a:active {
        padding: 19px 9px 14px 11px;
        border-bottom: 3px solid #000;
    }
    .mid-image {
        box-shadow: 0px 0px 5px 1px #fff;
    }
    .navlogo-image {
        width: 40px;
        height: 40px;
        margin: 12px 8px 12px 12px;
        text-align: center;
    }
    .navlogo-text {
        margin-top: 22px;
        font-family: 'Lucida Sans Italic', "Arial", sans-serif;
        font-size: 19px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px #1a1a1a;
    }
    .nav-text {
        font-size: 19px;
    }
    .nav-f {
        padding-left: 13px;
        padding-right: 17px;
    }
    .icon {
        margin-left: 0px;
        margin-right: 7px;
    }
    .main-vid-mobile {
        display: inline-block;
        width: 640px;
    }
    .main-image {
        height: 388px;
    }
    .mid-image {
        height: 162px;
    }
    .mi-f, 
    .mi-s, 
    .mi-t, 
    .twitbox {
        margin-left: 0px;
        margin-top: 0px;
    }
    .mtf {
        margin-top: 13.5px;
        margin-left: 0px;
    }
    .mi-f {
        height: 60px;
        width: 90px;
    }
    .mi-s {
        height: 72px;
        margin-top: 10px;
        margin-left: 21px;
    }
    .mi-t {
        height: 71px;
        margin-right: 23px;
        margin-top: 10px;
    }
    .mid {
        width: 100%/3;
        padding: 0px 37px 0px 37px;
    }
    .underbox {
        display: flex;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .paragraph {
        margin: 0;
    }
    .paragraph div {
        margin: 28px 17px 0px 6px;
        word-spacing: 7px;
        letter-spacing: -1px;
    }
    .under-text {
        font-family: "SegoeWP";
        line-height: 34px;
        word-spacing: 2px;
        font-size: 25px;
    }
    .circle {
        left: 29px;
        top: 1160px;
    }
    .images {
        margin: 73px 43px 0px 57px;
    }
    .mid, .mid:first-child {
        border: none;  
    }
    .under-mid {
        height: 100%;
        background: #fff;
    }
    .twitbox {
        height: 230px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f5c507;
    }
    .twitter {
        margin-top: 17px;
        margin-left: 84px;
    }
    .under-flex {
        width: 100%;
        margin-top: 16px;
        flex-wrap: wrap;
    }
    .un-block {
        width: 235px;
        padding: 15px 37px 0px 26px;
        margin-right: 10px;
    }
    .un-block .plus {
        position: relative;
        left: 250px;
        bottom: 15px;
        margin: 0px;
    }
    footer .container {
        margin-left: 65px;
    }
    .bot-logo-image {
        height: 31px;
        width: 31px;
        margin-bottom: 0;
        margin-top: 3px;
    }
    .bot-logo-text {
        margin-top: 10px;
        margin-left: 8px;
        margin-bottom: 11px;
        font-size: 17px;
    }
    .break-mob {
        display: inline;
    }
    .break-desk {
        display: none;
    }
    .mid-text {
        font-size: 23px; 
    }
    .mid {
        margin-top: 20px;
        padding: 0;
    }
    .mid:first-child {
        margin-left: -16px;
        margin-top: 35px;
    }
    .mid:last-child {
        margin-right: -14px;
    }
    .tweets {
        height: 100%;
        width: 275px;
        margin-right: 32px;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .tweet {
        padding-left: 19px;
        display: flex;
        align-items: center;
        height: 42px;
        width: 275px;
        font-family: 'Arial', 'Helvetica', sans-serif;
        font-size: 13px;
        color: #afaeae;
        text-align: left;
        border-radius: 10px;
    }
    .tweet-f {
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 1);
    }
    .tweet-s {
        background-color: rgba(255, 255, 255, 0.75);
    }
    .tweet-t {
        background-color: rgba(255, 255, 255, 0.5);
    }
    form {
        display: flex;
    }
    input[type = "submit"] {
        height: 29px;
        width: 72px;
        font-family: 'Arial', 'Helvetica', sans-serif;
        font-size: 15px;
        border: none;
        color: #fff;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;  
        background-color: #e9a826; 
    }
    input[type = "text"] {
        height: 27px;
        width: 204px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
    }
    .above-footer {
        height: 468px;
    }
}